# root
node_modules
dist
.env
.env.*
!.env.example
!.env.jenkins.example
*.log
.DS_Store

# web
web/node_modules
web/dist

# api
api/node_modules
api/dist

# prisma
api/prisma/dev.db

# Jenkins
.jenkins/
jenkins_home/
*.jenkinsfile.bak

# CI/CD
.pipeline/
build-*.log

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
backend-deploy-v2.zip
